name: Deploy VPC


on:
  push:
    branches: [ "main" ]



jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

       - name: Initialize terraform 
        run: |
        Terraform init 
          
